{% extends 'admin/admin_base.html' %}
{% load static %}
{% block title %}
Inventory Management
{% endblock %}
{% block styles %}
<style>
    .card {
        background: var(--color-bg);
    }
    .card-body table thead tr th,
    .card span {
        color: var(--color-primary)

    }

    .card-body .table,
    .card-body .table thead th,
    .card-body .table tbody td{
        border: 1px solid var(--color-primary);
    }
    .edit:hover {
        color: black !important;
    }

    form {
        color: var(--color-primary);
    }

    .modal-body, .modal-header, .modal-footer {
        background: var(--color-bg);
        border: 1px solid transparent;
    }

    .form-control, .form-control:focus {
        background: transparent;
        border: 1px solid var(--color-primary);
        color: var(--color-primary);
    }

    .form-control option {
        background: var(--color-bg);
    }

</style>
{% endblock %}
{% block main_content %}
<section>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"
                style="display: flex; justify-content: space-between;align-items: center">
                <span style="font-size: 1.3rem;">Inventory</span>
                {% if not about_us.count %}
                <a type="button" class="btn btn-primary" href="{% url 'add_product' %}" data-toggle="modal"
                data-target="#productCreateModal">Add
                    Product</a>
                {% endif %}
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>Product Name</th>
                            <th>Product Type</th>
                            <th>Marked Price</th>
                            <th>Product Discount</th>
                            <th>Product Buying Price</th>
                            <th>Product Stock</th>
                            <th>Product Expiry</th>
                            <th>Product Manufacture</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in product %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ p.product_name }}</td>
                            <td>{{ p.product_type }}</td>
                            <td>{{ p.product_marked_price }}</td>
                            <td>{{ p.product_discount }}%</td>
                            <td>{{ p.product_buying_price }}</td>
                            <td>{{ p.product_stock }}</td>
                            <td>{{ p.product_experies }}</td>
                            <td>{{ p.product_manufacture }}</td>
                            <td>
                                <div>
                                    <button class="btn btn-primary dropdown-toggle btn-sm" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        Action
                                    </button>
                                    <div class="dropdown-menu animated--fade-in" style="width: 50px;" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item edit" style="color: var(--color-white)" href="{% url 'edit_product' p.id %}">Edit</a>
                                        <a class="dropdown-item delete-data-confirmation" href="{% url 'delete_product' p.id%}"
                                            style="color: #ff0000">Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<form action="{% url 'add_product' %}"
method="post" id="universityCreateFrom"
enctype="multipart/form-data">

<div class="modal fade" id="productCreateModal" tabindex="-1" role="dialog"
 aria-labelledby="studentCreateModalTitle" aria-hidden="true">
<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-add-student" id="exampleModalLongTitle">Add Product </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" style="color: var(--color-white);">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div>
                {% include 'inventory/_form.html' %}
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>
</div>
</form>
{% endblock %}