{% extends 'admin/admin_base.html' %}
{% load static %}
{% block title %}
Dashboard
{% endblock %}
{% block styles %}
<style>
    .main_body {
        background: var(--color-bg);
        color: var(--color-primary);
    }

    .dash {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    #dash {
        font-size: 2rem;
        padding: 1rem;
    }

    .alignment {
        display: flex;
        justify-content: space-around;
    }

    .boxes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--color-bg-variant);
        border-radius: 1rem;
        margin-bottom: 3rem;
        margin-top: 1rem;
    }

    #icon {
        font-size: 3.5rem;
        padding: 1rem;
        margin-top: 0.6rem;
    }

    .charts{
        display: flex;
        justify-content: space-evenly;
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding-bottom: 6rem;

    }

    .charts h3 {
        color: #f2a444;
        margin-bottom: 1rem;
    }

    .line_chart, .pie_chart {
        width: 46%;
        box-shadow: 8px 10px 10px var(--color-bg-variant);
        border: 1px solid #f2a44481;
        padding: 2rem;
    }


    @media screen and (max-width: 1024px) {
        .alignment{
            align-items: center;
        }
        .charts {
            flex-direction: column;
        }

        .line_chart, .pie_chart {
            width: 90%;
            margin: auto;
        }

        .pie_chart {
            margin-top: 2rem;
        }

        .boxes {
            width: 80%;
            /* margin-left: auto; */
        }
    }

    @media screen and (max-width: 600px) {
        .alignment {
            flex-direction: column;
        }
        
        .line_chart, .pie_chart {
            padding: 0.5rem;
        }
    }
</style>
{% endblock %}
{% block main_content %}
<section>
    <div class="main_body">
        <div class="dash">
            <i class='bx bx-analyse' id="dash"></i>
            <h3>Dashboard</h3>
        </div>
        <div class="alignment">
            <div class="boxes col-sm-3">
                <i class='bx bx-dollar-circle' id="icon"></i>
                <div class="tags">
                    <h5>Total Amount</h5>
                </div>
                <div class="numbers mb-3">
                    <h2 style="font-weight: 600;">{{total_amount}}</h2>
                </div>
            </div>
            <div class="boxes col-sm-3">
                <i class='bx bx-cart-download' id="icon"></i>
                <div class="tags">
                    <h5>Todays Sales</h5>
                </div>
                <div class="numbers mb-3">
                    <h2 style="font-weight: 600;">{{todays_sale}}</h2>
                </div>
            </div>
            <div class="boxes col-sm-3">
                <i class='bx bxl-product-hunt' id="icon"></i>
                <div class="tags">
                    <h5>Total Product</h5>
                </div>
                <div class="numbers mb-3">
                    <h2 style="font-weight: 600;">{{total_products}}</h2>
                </div>
            </div>
        </div>
        <div class="dash">
        <i class='bx bx-bar-chart-alt-2' id="dash"></i>
            <h3>Visualization</h3>
        </div>
        <div class="charts">
            <div class="line_chart">
                <h3>Product Sales</h3>
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
            <div class="pie_chart">
                <h3>Products</h3>
                <canvas id="pyChart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block script %}
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

const piechart = document.getElementById('pyChart').getContext('2d');

const config = new Chart(piechart, {
    type: 'doughnut',
    data: {
        labels: [
                'Red',
                'Blue',
                'Yellow'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [300, 50, 100],
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
        },
    });
    // const datas = {
    //     labels: [
    //         'Red',
    //         'Blue',
    //         'Yellow'
    //     ],
    //     datasets: [{
    //         label: 'My First Dataset',
    //         data: [300, 50, 100],
    //         backgroundColor: [
    //             'rgb(255, 99, 132)',
    //             'rgb(54, 162, 235)',
    //             'rgb(255, 205, 86)'
    //         ],
    //         hoverOffset: 4
    //     }]
    // };
</script>
{% endblock %}