{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}
    HOME
{% endblock %}
{% block styles%}
    <style>
        h2, a {
            color: var(--color-primary);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-250%);
        }

        a {
            margin-top: 1rem;
        }

    </style>
{% endblock %}

{% block content %}
    <h2>Welcome to Vhati Inventories</h2>
    <a href="{% url 'login' %}">Click Here!! to go to Admin Panel.</a>
{% endblock %}