{% load static %}
<!-- As a link -->
<header class="header">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <a class="navbar-brand" href="#">Vhati Inventories</a>
        <li class="nav-item dropdown">
            <div class="username" style="display: flex;">
                <small class="welcome" style="margin-right: 0.5rem;">Welcome,</small>
                {% if request.user.is_authenticated %}
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">{{ user.username }}</a>
                    {% endif %}
                <div class="dropdown-menu">
                    <img src="{% static 'inmsp/texture.jpeg' %}" alt="" height="50px" style="margin-left: 50%; transform: translateX(-50%); border-radius: 50%; width: 50px !important;">
                {% if request.user.is_authenticated %}
                    <a class="dropdown-item" href="#">{{ user.username }}</a>
                    {% endif %}

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Setting</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </li>
    </nav>
</header>
<div class="sidebar">
    <i class='bx bx-chevron-right toggle'></i>

    <div class="menu-bar">
        <div class="menu">
            <ul class="menu-links">
            {% if user.profile.role == 1 %}
                <li class="menu-link">
                    <a href="{% url 'admin' %}">
                        <i class='bx bx-home icon'></i>
                        <span class="text nav-text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-link">
                    <a href="{% url 'payment' %}">
                        <i class='bx bx-money-withdraw icon' ></i>
                        <span class="text nav-text">Payments</span>
                    </a>
                </li>
                {% endif %}
                <li class="menu-link">
                    <a href="{% url 'staff' %}">
                        <i class='bx bx-briefcase-alt icon'></i>
                        <span class="text nav-text">Staff</span>
                    </a>
                </li>
                <li class="menu-link">
                    <a href="{% url 'inventory' %}">
                        <i class='bx bx-package icon' ></i>
                        <span class="text nav-text">Inventory</span>
                    </a>
                </li>
                <li class="menu-link">
                    <a href="#">
                        <i class='bx bx-cart-alt icon'></i>
                        <span class="text nav-text">Checkout</span>
                    </a>
                </li>
                <li class="menu-link">
                    <a href="{% url 'stock' %}">
                        <i class='bx bx-box icon' ></i>
                        <span class="text nav-text">Stock</span>
                    </a>
                </li>
                <li class="menu-link">
                    <a href="#">
                        <i class='bx bx-user icon'></i>
                        <span class="text nav-text">Customer</span>
                    </a>
                </li>
                <li class="menu-link">
                    <a href="{% url 'suppliers' %}">
                        <i class='bx bx-building-house icon' ></i>
                        <span class="text nav-text">Suppliers Info</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


